*{
  font-family: helvetica;
}

#comment{
  color: rgb(200,100,150);
}

.title{
  font-weight: 900;
}

p{
  text-align: left;
}

a[href^="mail"]{
  color: green;
  position: static;
}

a:hover{
  color: #FF00FF;
}


h1, h2, h3, h4{
  font-family: "Audiowide", sans-serif;
}

/*Combine two selectors + descedent*/
body h3,h4 {
  background-color:hsla(10,60%,70%,0.3);
}

header > h1 {
  text-decoration: underline overline dotted green;
}

div ~ p {
  margin:auto;
  padding: 0.4cm 10mm;
}

h4 + ol {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 16px;
  max-width: 25%;
  min-wdith: 10%
}

h1 { 
	margin: 25px 25px 25px 25px;
	border-style: solid;
  border-color: green;
  border-width: 10px;
  border-radius: 30%;
  padding-top:25px;
  padding-bottom:25px;
  padding-left:300px;
  padding-right:10px;
  height: 30px;
  width: 57%;
  display: block;
}

h2 {
  display: none;
  position: fixed;
}

a[href^="mail"]{
  color: green;
  position: static;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: green;
  justify-content: center;
  align-items: center;
  color: white;
}

.flex-container > div {
  background-color: grey;
  width: 80px;
  margin: 5px;
  text-align: center;
  line-height: 55px;
  font-size: 25px;
}

.grid-container {
  display: grid;
  background-color: blue;
  margin: auto;
  padding: 15px;
}
.grid-item {
  background-color: white;
  border: 10px solid black;
  padding: 10vim;
  font-size: 2em;
  text-align: center;
  color: red;
}

@media only screen and (max-width: 800px){
  *{
    background-color: burlywood;
  }
}
